.btn-list{
  margin-top:60px;
}

.btn-add{
  margin-top:10px;
}

.modal-content {
  background-color: rgb(142, 134, 170);
  
}

.modal-text {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

.modal-footer{
  margin-bottom: 1%;
}
