<template>
  <require from="../styles/styles.css"></require>
  <ai-dialog class="modal-content">
     <ai-dialog-body class="modal-text">
        <h2>${message}</h2>
     </ai-dialog-body>

     <ai-dialog-footer class="modal-footer">
        <button class="col-3 col-md-3 offset-2 btn btn-secondary" click.trigger = "controller.cancel()">Volver</button>
        <button class="col-3 col-md-3 offset-2 btn btn-success" click.trigger = "confirm()" show.bind="showButtons">Confirmar</button>
     </ai-dialog-footer>	
  </ai-dialog>	
</template>
